<div class="results-for">Showing results for: <span>"{{lastQuery}}"</span></div>
<div class="gallery" *ngIf="images">
    <div class="col">
        <div class="image" *ngFor="let image of images[0]">
            <img src="{{ image.url }}" alt="" />
        </div>
    </div>
    <div class="col">
        <div class="image" *ngFor="let image of images[1]">
            <img src="{{ image.url }}" alt="" />
        </div>
    </div>
    <div class="col">
        <div class="image" *ngFor="let image of images[2]">
            <img src="{{ image.url }}" alt="" />
        </div>
    </div>
</div>
